<style>
    html, body {
        height:100%;
        margin:0;
    }

    .h_iframe {
        position:relative;
    }
    .h_iframe .ratio {
        display:block;
        width:100%;
        height:auto;
    }
    .h_iframe iframe {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    .a1{
        background-color: #1C75BC;
        color:black;
        font-family: SolaimanLipi;
        text-align: center;
        color: white;
        margin: 0px;
    }
</style>
<a href="#" data-toggle="modal" data-target="#incidentReport"
   class="d-flex align-items-center quick-menu">
    <strong>জরূরী পণ্য সরবরাহের বাধা প্রাপ্তিতে রিপোর্টিং </s